## Librerias

In [58]:
import pandas as pd

## Funciones

In [59]:
def limpiar_datos_numericos(df, columna):
    """
    Limpia los datos numéricos de un DataFrame, convioerte a numericos y reemplaza
    los NaN con la media.

    :param df: DataFrame de pandas que contiene los datos.
    :param columnaas: Lista de nombres de columnaas a limpiar.
    :return: DataFrame limpio.
    """
    if df[columna].dtype == 'float' or df[columna].dtype == 'int':
        df[columna] = pd.to_numeric(df[columna], errors='coerce')
        df[columna] = df[columna].fillna(df[columna].median())
    return df

In [60]:
def limpiar_datos_texto(df, columna):
    """
    Limpia los datos de texto de un DataFrame, reemplazando valores infinitos por 
    una cadena vacía, reemplaza NaN por una cadena vacía, convierte todo a minuscula 
    y elimina espacios en blanco al inicio y al final,

    :param df: DataFrame de pandas que contiene los datos.
    :param columnaas: Lista de nombres de columnaas a limpiar.
    :return: DataFrame limpio.
    """
    if df[columna].dtype == 'object':
        df[columna] = df[columna].astype(str).replace('inf', '', regex=True)
        df[columna] = df[columna].fillna('')
        df[columna] = df[columna].astype(str).str.strip()
    return df

## Decorator

In [61]:
def encadenar_funciones(*funcs):
    """
    Encadena múltiples funciones de limpieza.

    Args:
        *funcs: Funciones de limpieza a encadenar.

    Returns:
        Función decoradora que aplica las funciones encadenadas.
    """
    def decorador(func):
        def wrapper(df, columna):
            for f in funcs:
                df = f(df, columna)
            return func(df, columna)
        return wrapper
    return decorador

In [62]:
@encadenar_funciones(limpiar_datos_numericos, limpiar_datos_texto)
def procesar_columna(df, columna):
    """
    Procesa una columna aplicando las funciones de limpieza encadenadas.

    Args:
        df: DataFrame de Pandas.
        columna: Nombre de la columna a procesar.

    Returns:
        DataFrame con la columna procesada.
    """
    # Puedes añadir más procesamiento aquí si es necesario
    return df

## Transformacion

In [63]:
data = {
    'numeros': [1, 2, 3, None, 5, float(1.2)],
    'texto': ['  Hola', '      Mundo  ', None, 'Python', ' ', 'inf']
}
df = pd.DataFrame(data)
df

   numeros          texto
0      1.0           Hola
1      2.0        Mundo
2      3.0           None
3      NaN         Python
4      5.0
5      1.2            inf

In [64]:
df2 = procesar_columna(df.copy(), 'numeros')
print(df2)

   numeros          texto
0      1.0           Hola
1      2.0        Mundo
2      3.0           None
3      2.0         Python
4      5.0
5      1.2            inf

In [65]:
procesar_columna(df2, 'texto')
print(df2)

   numeros   texto
0      1.0    Hola
1      2.0   Mundo
2      3.0    None
3      2.0  Python
4      5.0
5      1.2